@model EmailDemoTemplates.Models.WelcomeModel
@{
    Layout = "~/Views/Shared/HtmlLayout.cshtml";
}
<p>Hello @Model.Name</p>

<p>Welcome to our website.</p>
<p>Here's a list of things that we're excited about:</p>
<ul>
    <li>This is nice nice</li>
    <li>This is particularly nice</li>
    <li>This is also nice</li>
</ul>
<p>From everybody</p>
